
footer{
  align-items: center;
}
div{
  font-family: Helvetica, sans-serif;
}
.padding{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
footer{
  border-radius: 10px;
}
